<h1 class="text-center mb5">
  Editing <%= singular_table_name.titleize %> - <%%= @<%= singular_table_name %>.to_title %>
</h1>

<div class="text-center mb15">
  <%%= link_to 'Show', @<%= singular_table_name %> %> |
  <%%= link_to 'Back', <%= index_helper %>_path %>
</div>

<%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>

